*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    color: #ffffff;
    text-decoration: none;
}

#desktop {
    position: relative;
}
.carousel .carousel-item img {
    display: block;
    width: 100%;
    height: 100vh;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 13%;
    left: 15%;
} 
.carousel-caption #up {
    position: absolute;
    width: 100%;
    animation-duration: 3s;
}
.head_word {
    position: absolute;
    top: 90%;
    color: #ffffff;
    width: 100%;
    line-height: 150%;
    letter-spacing: 2px;
    font-family: "Times New Roman";
    font-size: 18pt;
    font-weight: bold;
    padding: 50px 0px 10px 0px;
}
.carousel-caption #down {
    position: absolute;
    bottom: 30px;
    left: 47%;
}
.carousel-caption #down:hover {
    position: absolute;
    bottom: 40px;
    left: 47%;
}

#menu {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 150%;
    background: #eaeaea;
    z-index: 100;
}
#logo {
    position: absolute;
    top: 1px;
    left: 30px;
    opacity: 0.7;
}
#menu_category{
    padding: 0px 60px;
}
.category_ {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px;
    font-family: "Times New Roman";
    color: #777;
}
.category_title {
    padding-left: 15px;
    transition: color .5s ease-out;
}
.category_title:after {
    content: "|";
    padding: 0px 0px 0px 15px;
}
.category_:nth-child(1) .category_title:before{
    content: "|";
    padding-right: 15px;
}
.category_:hover .category_title{
    color: rgb(62, 134, 250);
}
.category_text{
    display: none;
}
.category_:hover .category_text{
    display: block;
    position: absolute;
    z-index: 100;
    padding-top: 10px;
    text-align: left;
}
.category_ .category_text ul{
    padding: 15px;
    background: #888;
    display: block !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.category_ .category_text ul a{
    color: #ffffff;
}
.category_ .category_text ul a:hover{
    position: relative;
    top: 1px;
    left: 1px;
}

.new_post{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/new_post_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#new_post_title{
    text-align: center;
    width: 100vw;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: -50px;
    font-family: 'Mogra', cursive;
    animation-duration: 3s;
}

.title{
    font-size: 20pt;
    font-weight: normal;
}
.description{
    font-size: 10pt;
}
.word_box_left{
    background-color: black;
    opacity: 0.6;
    height: 100vh;
    width: 30vw;
    /* 左邊對齊 */
    margin-left: 50px;
    /* 水平&垂直置中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* word */
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.word_box_right{
    background-color: black;
    opacity: 0.6;
    height: 100vh;
    width: 30vw;
    /* 右邊對齊 */
    float: right;
    margin-right: 50px;
    /* 水平&垂直置中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* word */
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.label{
    padding-top: 70px;
}

.tag_area .sunset{
    background: url("../img/tag_sunset.jpg") 50% 85% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}
.tag_area .tree{
    background: url("../img/tag_tree.jpg") 50% 5% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}
.tag_area .road{
    background: url("../img/tag_road.jpg") 50% 40% no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}
.tag_area .mountain{
    background: url("../img/tag_mountain.jpg") 100% 80% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}
.tag_area .waterfall{
    background: url("../img/tag_waterfall.jpg") 100% 10% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}
.tag_area .sky{
    background: url("../img/tag_sky.jpg") 100% 40% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}
.tag_area .sea{
    background: url("../img/tag_sea.jpg") 70% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
}

.footer_background {
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    position: relative;
    display: flex;
    align-items: center;
    height: 180px;
 }
.footer_word {
    color: #ffffff;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Long Cang', cursive;
}
.footer_title {
    font-size: 30pt;
    margin-bottom: -40px;
}

.tempContainer{
    background: rgba(37, 37, 37, 0.9);
    position: fixed;
    width: 100%;
    text-align: center; 
    z-index: 101;
}