* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a {
    color: #000000;
    text-decoration: none;
}

input {
    background: rgb(61, 60, 60);
    border: 2px rgb(100, 96, 96) solid;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'cwTeXFangSong', sans-serif;
}

#desktop {
    position: relative;
    z-index: 90;
}
.head_background {
    background: url("../img/bg_mountain.jpg") 50% 70% no-repeat;
    background-attachment: fixed;
    display: block;
    height: 100vh;
    position: relative;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    scroll-behavior: auto;
}
#desktop_area {
    text-align: center;
    padding-top: 100px;
}
#desktop_area #up {
    position: absolute;
    width: 100%;
    animation-duration: 3s;
}
.head_word {
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 50px 0px 10px 0px;
    color: #ffffff;
    font-size: 15pt;
    font-weight: bold;
    line-height: 180%;
    letter-spacing: 2px;
    font-family: 'Tillana', cursive;
}
#desktop_area #down {
    position: absolute;
    bottom: 30px;
    left: 47%;
}
#desktop_area #down:hover {
    position: absolute;
    bottom: 40px;
    left: 47%;
}

#menu {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 150%;
    background: #eaeaea;
    z-index: 100;
}
#logo {
    position: absolute;
    top: 1px;
    left: 30px;
    opacity: 0.7;
}
#menu_category {
    padding: 0px 70px;
}

.category_ {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px;
    font-size: 12pt;
    font-family: 'Tillana', cursive;
    color: #777;
}
.category_title {
    padding-left: 15px;
    transition: color .5s ease-out;
}
.category_title:after {
    content: "|";
    padding: 0px 0px 0px 15px;
}
.category_:nth-child(1) .category_title:before {
    content: "|";
    padding-right: 15px;
}
.category_:hover .category_title {
    color: rgb(62, 134, 250);
}
.category_text {
    display: none;
}
.category_:hover .category_text {
    display: block;
    position: absolute;
    z-index: 100;
    padding-top: 10px;
    text-align: left;
}
.category_ .category_text ul {
    padding: 15px;
    background: #888;
    display: block !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.category_ .category_text ul a {
    color: #ffffff;
}

.category_ .category_text ul a:hover {
    position: relative;
    top: 1px;
    left: 1px;
}

#img_title {
    width: 100%;
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-family: 'Mogra', cursive;
    color: rgb(63, 173, 19);
    letter-spacing: 1px;
    animation-duration: 3s;
}

#photo {
    position: relative;
    margin: 0 50px 0 50px;
}
#photo_area {
    column-count: 4;
    column-gap: 0;
}
.photo_box {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    break-inside: avoid;
    padding: 10px;
    z-index: 90;
}
.photo_box img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto !important;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}
.photo_box img:hover {
    transform: scale(1.05, 1.05);
}

#location{
    display: none;
}
#favorite{
    display: none;
}
#delete{
    display: none;
}
#photo_area .photo_box:hover #location {
    opacity: 0.5;
    display: block;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    width: calc(100% - 10px);
    font-family: 'cwTeXFangSong', sans-serif;
}
#photo_area .photo_box:hover #favorite {
    cursor: pointer;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#photo_area .photo_box:hover #delete {
    cursor: pointer;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.footer_background {
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    position: relative;
    display: flex;
    align-items: center;
    height: 180px;
    top: 20px;
    z-index: 90;
}
.footer_word {
    color: #ffffff;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Long Cang', cursive;
}
.footer_title {
    font-size: 30pt;
    margin-bottom: -40px;
}

.tempContainer {
    background: rgba(37, 37, 37, 0.9);
    position: fixed;
    width: 100%;
    text-align: center; 
    z-index: 101;
}

#fileselect {
    display: none;
}
#filedrag {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0;
    display: none;
    cursor: default;
}

#filedrag.hover {
    border: 3px dashed rgb(246, 109, 18);
}